nav {
  animation: slideRight 1s ease forwards;
}

nav ul li {
  position: relative;
  display: inline-block;
  z-index: 1;
}

nav ul span {
  position: absolute;
  margin: 0;
  left: -2.7rem;
  width: 70px;
  height: 100%;
  background: rgb(77, 152, 77);
  box-shadow: 0 0 10px greenyellow;
  border-radius: 10px;
  transition: 0.7s;
}

.mob-link-li:hover {
  background: rgb(77, 152, 77);
  box-shadow: 0 0 10px greenyellow;
  border-radius: 10px;
  color: white;
}

nav ul li:nth-child(1):hover ~ span {
  left: -2.7rem;
}

nav ul li:nth-child(2):hover ~ span {
  left: 2.3rem;
  width: 77.5px;
}

nav ul li:nth-child(3):hover ~ span {
  left: 7.75rem;
  width: 104px;
}

nav ul li:nth-child(4):hover ~ span {
  left: 15rem;
  width: 95px;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
