.project-card-container {
  box-shadow: 0 0 30px rgb(47, 137, 255);
  opacity: 0.75;
  border-radius: 20px;
}

.desc-container,
.about-bio {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.desc-container::-webkit-scrollbar,
.about-bio::-webkit-scrollbar {
  display: none;
}

.techStack-cont {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  text-decoration: none;
  margin: 2rem 0.1rem;
  box-shadow: 0 0 50px rgb(47, 137, 255);
  color: cyan;
  border: none;
  background: linear-gradient(45deg, #256aa6, #005337);
}

.preview-btn {
  background: linear-gradient(45deg, #335676, #016443);
  border: 2px;
}

.techStack-cont:hover,
.preview-btn:hover {
  border-color: rgb(77, 152, 77);
  background: linear-gradient(45deg, #25a6a2, #b10bb4);
  color: white;
}
